$baseColor: #1890ff;
@mixin clickBtn($color: $baseColor) {
  color: $color;
  cursor: pointer;
}

.ant-table-tbody {
  & > tr {
    & > td:first-of-type, td:last-of-type {
      span {
        @include clickBtn;
      }
    }
  }
}